.defaultModal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalOverlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 1;
}

.modalWindow {
    justify-content: center;
    align-items: center;
    width: 50vw;
    border-radius: 5px;
    background-color: #fff;
    z-index: 2;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    padding: 0.3vw 0.6vw;
    border-bottom: 1px solid #E5E5E5;
    font-family: 'PT Sans', serif;
    font-size: 1.2vw;
    line-height: 1.7vw;
    text-transform: uppercase;
}

.modalClose {
    font-size: 1.7vw;
    cursor: pointer;
}

.modalBody {
    padding: 0.3vw 0.6vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.3vw;
    max-height: 45vw;
    overflow: auto;
}