.pagination {
    display: inline-block;
    border: 1px solid #E5E5E5;
}

.pageItem {
    font-family: serif;
    font-size: 1vw;
    line-height: 1vw;
    color: #171717;
    float: left;
    padding: 0.5vw 1vw;
    list-style-type: none;
    text-decoration: none;
}

.pagination li:hover:not(.active) {
    background-color: #ddd;
    border-radius: 0.3vw;
}